@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4vw;
  background: none;
  border: none;
  text-align: center;
}
div.dash-title {
  text-align: center;
  font-size: 3vw;
  position: relative;
  top: -11vw;
}

div.dash-stuff {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -15vw;
  text-align: center;
}

div.dash-item {
  display: block;
  margin: 0rem;
  width: 10vw;
  flex-direction: row;
}

div h3 {
  font-size: 1.9vw;
}

div.movieSelectDetails {
  display: block;
  font-size: 2vw;
  text-align: center;
  position: relative;
  top: -15vw;
}

li {
  padding: 1%;
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  width: 15vw;
  text-align: center;
  background-color: rgb(109, 228, 188);
  padding: 2%;
}

li:hover {
  background-color: rgb(207, 125, 125);
}
