@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
body {
  font-family: "Bebas Neue", sans-serif;
}
h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 5vw;
  text-align: center;
  padding-top: 1vw;
}

div.site-title {
  width: 100%;
  position: relative;
  top: -5vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -9vw;
}
a {
  padding: 1rem;
  margin: 0rem;
  font-size: 2vw;
  display: inline-block;
  background-color: rgb(179, 72, 101);
  color: white;
  border-radius: 5px;
}
nav a:hover {
  color: white;
  background-color: #42545c;
  cursor: pointer;
}
