<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="site-title"><h1>The Jenna Review</h1></div>
    <nav>
      <a routerLink="/allReviews">All Movies</a>
      <a routerLink="/movieDash">Movie Dashboard</a>
      <a routerLink="/newReview">New Review</a>
    </nav>
    <router-outlet></router-outlet>
    <h3>Movie Results</h3>
    <input #movieBox id="movie-name" placeholder="Movie name" />
    <p *ngFor="let movie of movieData.results">
      {{ movie.title }}<br />
      {{ movie.description }}
    </p>
    <h3>
      Welcome to {{ title }}!
      <p *ngFor="let country of countryData">
        {{ country.name.official }} <br />
        Population:
        {{ country.population }}
      </p>
    </h3>
  </body>
</html>
